flows/casecreateforBot.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Case_Assignment</name>
        <label>Case Assignment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>objCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created from Chat Bot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Chat_Transcript_and_Case_NumberAssignment</name>
        <label>Chat Transcript and Case NumberAssignment</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>objChatTranscript.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strChatTranscriptid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objChatTranscript.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>strCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objCase.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Chat_Transcript</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>casecreateforBot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>casecreateforBot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Fetch_Case</targetReference>
        </connector>
        <inputReference>objCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Case</name>
        <label>Fetch Case</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chat_Transcript_and_Case_NumberAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Chat_Transcript</name>
        <label>Update Chat Transcript</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputReference>objChatTranscript</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Assignment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objcasefromCaseOrigin</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objcasefromSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>strCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strChatTranscriptid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
